.container{
    padding: 0 0.2rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 7);
    align-items: center;
    color: aliceblue;
}
.logo{
    font-size: larger;
    text-decoration: double;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}